<div class="form_row">
	<label for="visual">Visual Impression:</label>
	<%= form.text_area  :visual, 
						:cols => Tastingnote::VISUAL_HORIZ_SIZE,
						:rows => Tastingnote::VISUAL_VERT_SIZE %>
</div>