<div class="form_row">
	<label for="vintage">Vintage (if applicable):</label>
	<%= form.text_field :vintage,
						:size => Bottle::VINTAGE_SIZE,
						:maxlength => Bottle::VINTAGE_MAX_LENGTH %>
</div>