<div class="form_row">
	<label for="gustatory">Taste:</label>
	<%= form.text_area  :visual, 
						:cols => Tastingnote::GUSTATORY_HORIZ_SIZE,
						:rows => Tastingnote::GUSTATORY_VERT_SIZE %>
</div>