<!-- adjust to include checks for logged in, user status, etc. and adjust accordingly -->
<!-- eg, admin user gets admin link, pro user gets warehouse mgmt, etc. -->

<div id="topnav2">	
  Common Tasks:  |  
  <%= tasknav_link "Acquired Some Bottles",    "acquire" -%>  |  
  <%= tasknav_link "Disposed of Some Bottles", "dispose" -%>  |  
  <%= tasknav_link "Tasted Some Wine",         "taste" -%>		 
</div>