<div class="form_row">
	<label for="translation">Translated name:</label>
	<%= form.text_field :translation,
						:size => Apptype::TRANSLATION_SIZE,
						:maxlength => Apptype::TRANSLATION_MAX_LENGTH %>
</div>
