<% if !@appellation.parent.nil? -%>
  <hr>
  <div id="showpane_sublegend">Parent Appellation</div>
  <p><%= link_to @appellation.parent.name, {:action => "show", :id => @appellation.parent} %></p>
<% end -%>