<h1>About ThatBottle</h1>

<h2>Who uses this?</h2>
<p>
	ThatBottle is for anyone who enjoys wine, in any form, or who works in any capacity in the
	wine industry: winemaking, distribution, marketing, retailing, education.
</p>

<h2>What can I do?</h2>
<p>
	ThatBottle is the ideal location for members to record their wine-drinking experiences, and to
	learn from others.  ThatBottle includes a comprehensive reference to the wine-making regions of the
	world and wine grapes, as well as an immense and ever-growing library of wines and wine-tasting notes.
</p>
<p>
	ThatBottle is founded on the idea that a million palates can't be wrong: you may or may not agree with
	how a particular writer or reviewer feels about a wine, but you can trust the taste of your fellow
	wine-drinkers throughout the world.  ThatBottle supports a full range of communities and groups that
	let you benefit from the experiences of others.
</p>

<h2>How do I get started?</h2>
<p>
	Go to the registration page and sign up to become a member.  Basic membership is free, and includes
	full access to the regions, grapes, and wines in ThatBottle's library.  Basic membership also gives
	you access to the last month's worth of tasting notes submitted by other members - you always have 
	access to your own tasting notes, of course!
</p>

<h2>What if I want more?</h2>
<p>
	A paid membership gives you full access to the entire library of tasting notes.  It also provides
	purchase records and cellar management features.
</p>

<h2>I'm in the trade</h2>
<p>
	Winemakers, distributors, retailers, and others in the trade can sign up for a professional membership,
	which gives you tools to help promote your wares and connect with others in the business.  Professional
	membership includes full access to public communities and groups, as well as professtional-only forums.
</p>