<h1>Credits and Thanks</h1>

<h2>Software</h2>
<p> 
	ThatBottle is written in Ruby on Rails and runs on a MySQL database.
	Public-domain components incorporated in ThatBottle include:
</p>
<ul>
	<li>RailsSite source code</li>
	<li>Ferret</li>
</ul>

<h2>Hosting</h2>	
<p>
	ThatBottle is hosted at Site5.
</p>

<h2>Graphic Design</h2>
<p>
	Logos, color schemes, layouts, and CSS files were produce by Jack Poe.
</p>

<h2>Beta Community</h2>
<p>
	The beta community for ThatBottle include xxxxxxxxx (user handles)
</p>

<h2>Caffeine and Carbohydrates</h2>
<p>
	Many thanks to Niki's Kava House for fueling my data entry marathons.
</p>