<h2><%= @title %></h2>

<h3>Beta 2:  20 August 2008</h3>
<p>Beta 2 of That Bottle represents a significant improvement in functionality, look and feel, and 
content.  We have an active beta test program ongoing now - please contact us at XXXX if you would
like to participate.</p>
