<h1>Copyright and Service Mark Notice</h1>
<p>
	ThatBottle and ThatBottle.com are service marks (2006-2008) of John C. Feltz; 
	all rights reserved.  The software, data structures, images, and other computer resources
	which make up ThatBottle.com are copyrighted (2006-2008) by John C. Feltz, subject to several
	software licenses listed below; all rights reserved.
</p>

<h1>Privacy Policy</h1>
<p>
	Personal information submitted to ThatBottle will not be sold, traded, or otherwise transfered to 
	third parties.  ThatBottle reserves the right to use and publish aggregated information and
	statistics about our Members.  ThatBottle reserves the right to use personal information to 
	target on-screen advertising, promotional offers, and publications.  All personal information 
	is viewable as part of your user profile.
</p>
<p>
	ThatBottle will not send unsolicited email except for:
	<ul>
		<li>a monthly user update</li>
	    <li>membership renewals</li>
	</ul>
	Other Members of ThatBottle may send unsolicited Friend Requests and Community Requests.
</p>

<h1>Terms of Service</h1>
<p>
	By becoming a Member of ThatBottle and using the site, you agree not to use defamatory, abusive, or 
	obscene language, images, or other communications.  You also agree not to use the Friend and Community 
	features to harass, intimidate, or otherwise abuse other Members.  Failure to adhere to these Terms of 
	Service may result in the termination of your account without refund, at our sole discretion.
</p>
<p>	
	Any Member with a complaint about a violation of the Terms of Service may report it at any time on-screen
	or via email to tos-violation@thatbottle.com.  We promise to respond to all complaints within 2 business days.
</p>

<h1>Disclaimer of Liability</h1>
<p>
	ThatBottle is not responsible for information submitted or edited by its Members, neither for accuracy nor
	for suitability to any purpose.  Furthermore, ThatBottle is not responsible for any infringements of
	the intellectual property rights of others that may result from information submitted or edited by
	its Members.
</p>
<p>
	If you believe your intellectual property rights have been violated by a Member, please submit a complaint
	to ip-violation@thatbottle.com.  We promise to respond to all complaints within 2 business days.
</p>