<div class="form_row">
	<label for="cellarlocation">Cellar Location:</label>
	<%= form.text_field :cellarlocation,
						:size => Bottle::CELLARLOCATION_SIZE,
						:maxlength => Bottle::CELLARLOCATION_MAX_LENGTH %>
</div>