<div class="form_row">
	<label for="cellarlabel">Cellar Label or Tag:</label>
	<%= form.text_field :cellarlabel,
						:size => Bottle::CELLARLABEL_SIZE,
						:maxlength => Bottle::CELLARLABEL_MAX_LENGTH %>
</div>