<%= render :partial => "shared/content_header", :locals => { :model => "grape" } %>
<h2><%= @title -%></h2>
<%= render :partial => "shared/alpha_index" %>

<% @pagination = true %>
<%= render :partial => "table" %>
